<!-- Navbar superior -->
<div class="navbar">
    <div class="logo">
        <img src="../../../assets/iconedigital.jpeg" alt="Logo" class="navbar-logo"> Digital Waiter
    </div>
    <input type="text" placeholder="Buscar" class="search-bar" />
    <div class="icons">
        <span class="bell-icon">🔔</span>
        <span class="user-icon">
            <img src="../../../assets/images.png" alt="Usuario" class="user-img"> Usuario
        </span>
    </div>
</div>

<!-- Barra lateral y contenido principal -->
<div class="waiter-dashboard">
    <div class="sidebar">
        <img src="../../../assets/digitalwaiter.png" alt="Sidebar Image" class="sidebar-img">
        <nav>
            <ul>
                <li><a href="/waiter/dashboard">Dashboard</a></li>
                <li><a href="/waiter/tables-view">Gestión de Mesas</a></li>
                <li><a href="/waiter/orders">Gestión de Órdenes</a></li>
            </ul>
        </nav>
    </div>
    <!-- Contenido principal -->
    <div class="main-content"> <!-- Contenido de la vista de mesas -->
        <h1>Gestión de Mesas</h1>
           <button (click)="showForm = true" class="add-table-btn">Agregar Mesa</button> <!-- Botón para mostrar el formulario -->
        <div class="table-container">
            <div class="table">
                <h2>Mesa #1</h2>
                <p><strong>Estado:</strong> Desocupada</p>
                <p><strong>Observaciones:</strong></p> <button>Crear orden</button>
            </div>
            <div class="table">
                <h2>Mesa #2</h2>
                <p><strong>Estado:</strong> Desocupada</p>
                <p><strong>Observaciones:</strong></p> <button>Crear orden</button>
            </div>
            <div class="table">
                <h2>Mesa #3</h2>
                <p><strong>Cliente:</strong> Juan Jorge</p>
                <p><strong>Estado:</strong> En proceso</p>
                <p><strong>Observaciones:</strong> S/N</p>
                <p><strong>N° orden:</strong> 8</p>
            </div>
            <div class="table">
                <h2>Mesa #4</h2>
                <p><strong>Cliente:</strong> José Piedra</p>
                <p><strong>Estado:</strong> Despachadas</p>
                <p><strong>Observaciones:</strong> Pedido especial</p>
                <p><strong>N° orden:</strong> 12</p>
            </div>
        </div>
    </div>